@import "mixing";

$white: #fff;
$black-1: #1b1b1a;
$black-2: #2a2929;
$primary-color: #f2b12e;

$font-black-color-86: rgba($black-1, 0.86);

$font-white-color-86: rgba($white, 0.86);
$font-white-color-56: rgba($white, 0.56);

$font-primary-color-86: rgba($primary-color, 0.86);
$font-primary-color-56: rgba($primary-color, 0.56);