<app-header></app-header>

<div class="main-container">

    <section class="banner" [ngStyle]="{height:windowHeight+'px'}">
        <div class="container">
            <div class="title-wrapper">
                <h2>Travel the way</h2>
                <h1>you wish to go</h1>
            </div>
        </div>
    </section>

    <section class="contact-details-script">
        <div class="container">
            <div class="row justify-content-md-center">
                <h3 class="col-md-5 col-sm-12"><span class="icon icon-call"></span>+94 711 287 936</h3>
                <h3 class="col-md-5 col-sm-12"><span class="icon icon-mail"></span>example@gmail.com</h3>
            </div>
        </div>
    </section>

    <section class="content-block">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-12">
                    <h3>
                        Our Service
                        <span class="under-line"></span>
                    </h3>
                </div>

                <div class="col-md-10 col-sm-12">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                </div>
            </div>
        </div>
    </section>

    <section class="content-block vehicle-block">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col">
                    <h3>
                        Our Vehicles
                        <span class="under-line"></span>
                    </h3>
                </div>

                <div class="col-12">
                    <div class="row ">
                        <div class="col-md-6 col-sm-12 ">
                            <div class="card-wrapper no-gap">
                                <img [src]="'../assets/images/van.jpg'" alt="">
                            </div>

                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="card-wrapper gb-white">
                                <h4>Lorem Ipsum is simply</h4>
                                <p class="text-left">Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry. Lorem Ipsum
                                    has been
                                    the industry's standard dummy text ever since the 1500s </p>
                                <a href="#" class="read-more">Read more...</a>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 order-4 order-md-3">
                            <div class="card-wrapper gb-white">
                                <h4>Lorem Ipsum is simply 2</h4>
                                <p class="text-left">Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry. Lorem Ipsum
                                    has been
                                    the industry's standard dummy text ever since the 1500s </p>
                                <a href="#" class="read-more">Read more...</a>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 order-1 order-md-4">
                            <div class="card-wrapper no-gap">
                                <img [src]="'../assets/images/bus.jpg'" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content-block testimonial-block">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12">
                    <h3>
                        People Say
                        <span class="under-line"></span>
                    </h3>
                </div>

                <div class="col-md-10 col-sm-12">
                    <div class="testimonial">
                        <div class="items">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard</p>
                            <span class="says">@Ryan Tedder</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="footer-block">
        <div class="container">
            <div class="row">
                <div class="col-md-2 offset-md-1">
                    <h4>Explore</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h4>Follows</h4>
                    <ul>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <span class="line"></span>
                </div>
                <p class="col-md-10 offset-md-1 copy-right">Copyright &copy; 2018 All Rights Reserved.</p>
            </div>
        </div>
    </section>

</div>
